body {
    background-color: hsl(235, 18%, 26%);
    font-family: Roboto;
    display: flex;

}

.container {
    width: 60%;
    height: 40rem;
    margin: 6rem auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
}


.containerChildren {
    margin: 1rem 1rem;
}
#text{
    width: 43%;
    margin-left: 6%;
}
#text h1, #text .details > * {
    margin-bottom: 2rem;
    /*font-size: larger;*/
}
#text h1{
    font-size: 3rem;
    /*text-align: center;*/
}

#text .details ul {
    padding-left: 0;
    margin-bottom: 2rem;
!important;
}

#text li {
    display: flex;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
    position: relative;
}

#text li::before {
    content: '';
    background-image: url("./assets/images/icon-list.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#text form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 80%;
}
#text form button{
    background-color: hsl(235, 18%, 26%);
    height: 2.5rem;
    color: white;
    border-radius: 5px;
}
#text form input{
    margin: 1rem 0 2rem 0;
    height: 2rem;
    border-inline:none;
    border-radius: 5px;
    border: hsl(231, 7%, 60%) solid 1px;
}

#design {
    width: 50%;
    height: 38rem;
    background-size: cover;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    border-radius: 20px;
}

/*.container :last-of-type img {*/
/*    width: 100%;*/
/*    height:100% ;*/
/*}*/

