body {
    background-color: hsl(235, 18%, 26%);
    font-family: Roboto;
    display: flex;

}

.container {
    width: 60%;
    height: 40rem;
    margin: 6rem auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
}


.containerChildren {
    margin: 1rem 1rem;
}

#text {
    width: 43%;
    margin-left: 6%;
}

#text h1, #text .details > * {
    margin-bottom: 2rem;
}

#text h1 {
    font-size: 3rem;
}

#text .details ul {
    padding-left: 0;
    margin-bottom: 2rem;
!important;
}

#text li {
    display: flex;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
    position: relative;
}

#text li::before {
    content: '';
    background-image: url("./assets/images/icon-list.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#text form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 80%;
}

#text form button{
    background-color: hsl(235, 18%, 26%);
    background-image: none;
    height: 3.5rem;
    color: white;
    border-radius: 5px;
    border: none;
}

#text form button:hover {
    background-image: linear-gradient(to right, hsl(4, 100%, 67%), #ff8c00);
    transition-property: background-image;
    transition-duration: 2s;
    cursor: pointer;
}

#text form input {
    margin: 1rem 0 2rem 0;
    height: 3rem;
    border-inline: none;
    border-radius: 5px;
    border: hsl(0, 0%, 80%) solid 1px;
}
#text form input:focus{
    border: black solid 1px;
    cursor: pointer;
}

#design {
    width: 50%;
    height: 38rem;
    background-size: cover;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    border-radius: 20px;
}
